* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;

  background: #ffffff;

  color: #0f172a;

  -webkit-font-smoothing: antialiased;
}

button,
a {
  font-family: inherit;
}

button {
  border: none;
}

a {
  text-decoration: none;
}